<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
  <system.windows.forms>
    <applicationConfigurationSection>
      <add key="DpiAwareness" value="PerMonitorV2" />
    </applicationConfigurationSection>
  </system.windows.forms>
</configuration>